#elevators {
    position: relative;
    background-color: #ffffff;
    height: 402px;
    width: 200px;
    margin-left: 300px;
    padding: 0;
}

.elevator {
    position: absolute;
    margin: 17px 8px;
    background-color: #d3d3d3;
    width: 50px;
    height: 368px;
    top: 0px;
    text-align: center;
    font-size: 24pt;
    font-family: Futura;
    color: #ffffff
}

.car {
	position: absolute;
	bottom: 0px;
	background-color: #1458a6;
    height: 29px;
    width: 100%;
    font-size: 12pt;
    color: #ffffff;
    overflow: hidden;
}

.car > div {
    position: relative;
    top: -343px;
}

.car > div > div {
    position: relative;
    height: 22px;
}

#elevator1 {
    left: 0px;
}

#elevator2 {
    left: 67px;
}

#elevator3 {
    left: 134px;
}
